<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hero"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ActivityResumeWrite"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobPost" />
        <activity android:name=".JobList" />
        <activity android:name=".JobDetail" />
        <activity android:name=".JobListAdapter" />
        <activity android:name=".JobFilter" />
        <activity android:name=".ReviewPost" />
        <activity android:name=".ReviewList" />
        <activity android:name=".ReviewListAdapter" />
        <activity android:name=".HomeApplicant" />
        <activity android:name=".HomeApplicantAdapter" />
        <activity android:name=".HomeRecruiter" />
        <activity android:name=".HomeRecruiterAdapter" />
        <activity android:name=".HomeJobListAdapter" />
        <activity android:name=".EmployerData" />
        <activity android:name=".ModifyApplicant" />
        <activity android:name=".ModifyRecruiter" />
        <activity android:name=".MyPageApplicant" />
        <activity android:name=".MyPageRecruiter" />
        <activity android:name=".ResumePost" />
        <activity
            android:name=".ScrapActivity"
            android:exported="true" />
        <activity
            android:name=".FAQActivity"
            android:exported="true" />
        <activity
            android:name=".UserGuideActivity"
            android:exported="true" />
    </application>

</manifest>