<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hero_home"
        tools:targetApi="31">
        <activity
            android:name=".activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JobPost"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserGuideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScrapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityMatching"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityBoardWrite"
            android:exported="true"
            android:theme="@style/MaterialCustomRoot" />
        <activity
            android:name=".activity.ActivityResumeWrite"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityMenteeDetailPage"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityMentorDetailPage"
            android:exported="true" />
        <activity android:name=".activity.JobDetail"
            android:exported="false" />
    </application>

</manifest>