<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hero"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JobPost"></activity>
        <activity android:name=".JobList"></activity>
        <activity android:name=".JobDetail"></activity>
        <activity android:name=".adapter.JobListAdapter"></activity>
        <activity android:name=".JobFilter"></activity>
        <activity android:name=".ReviewPost"></activity>
        <activity android:name=".ReviewList"></activity>
        <activity android:name=".ReviewEmployerPost"></activity>
        <activity android:name=".ReviewEmployerList"></activity>
        <activity android:name=".adapter.ReviewListAdapter"></activity>
        <activity android:name=".HomeApplicant"></activity>
        <activity android:name=".adapter.HomeApplicantAdapter"></activity>
        <activity android:name=".HomeRecruiter"></activity>
        <activity android:name=".adapter.HomeRecruiterAdapter"></activity>
        <activity android:name=".adapter.HomeJobListAdapter"></activity>
        <activity android:name=".EmployerData"></activity>
        <activity android:name=".ModifyApplicant"></activity>
        <activity android:name=".ModifyRecruiter"></activity>
        <activity android:name=".MyPageApplicant"></activity>
        <activity android:name=".MyPageRecruiter"></activity>
        <activity android:name=".ResumePost"></activity>
        <activity android:name=".EmployerStatus"></activity>
        <activity android:name=".EmployerStatusDetail"></activity>
        <activity android:name=".WorkerStatus"></activity>
        <activity android:name=".AddressActivity"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>